In [1]:
import pandas as pd
node = pd.read_csv("input/input_node.csv")
vehicle = pd.read_csv("input/input_vehicle_type.csv")
dt = pd.read_csv("input/input_distance-time.txt")

In [2]:
from_to_node = list(zip(dt["from_node"].values, dt["to_node"].values))
distance = pd.Series(dt["distance"].values, index=from_to_node)
time = pd.Series(dt["spend_tm"].values, index=from_to_node)
del dt

In [40]:
node_1 = node[node.type==1]
node_2 = node[node.type==2]
node_3 = node[node.type==3]

In [24]:
node_2.to_csv("input/node.csv", index=None)

In [27]:
def split_transform(s):
    a = s.split(":")
    return int(a[0])*60 + int(a[1]) - 8 * 60

In [3]:
node_2 = pd.read_csv("input/node.csv")
node_2["first_receive_tm"] = node_2.loc[:, "first_receive_tm"].apply(lambda x: split_transform(x))
node_2["last_receive_tm"] = node_2.loc[:, "last_receive_tm"].apply(lambda x: split_transform(x))

KeyError: 'the label [first_receive_tm] is not in the [columns]'

In [53]:
node_2.drop(columns=["lng", "lat", "type"], inplace=True)
node_2.columns = ["ID", "weight", "volume", "first", "last"]
node_2.to_csv("input/node.csv", index=None)

In [126]:
node20 = node_2.sample(n=20)
node20

      ID    weight  volume  first  last
33    34  0.048260  0.1466    180   330
264  265  0.046380  0.1238    300   450
953  954  0.012000  0.2000    210   300
55    56  0.013164  0.3085    210   300
961  962  0.101000  0.2377    210   300
948  949  0.149150  0.2615    330   390
225  226  0.286900  0.4780    180   240
588  589  0.049800  0.5142    180   330
65    66  0.016400  0.1584    330   390
987  988  0.124200  0.3665     90   150
865  866  0.161300  0.2846    120   180
942  943  0.175830  0.3177     90   150
197  198  0.427000  0.6553     90   150
662  663  0.303770  0.8616    180   240
3      4  0.025950  0.0542     60   120
851  852  0.130680  0.2645    300   450
283  284  0.143760  0.3180    180   240
635  636  0.111000  0.9942     60   240
676  677  0.108960  0.1984    300   360
623  624  0.185400  0.2587    300   420

In [128]:
id20 = node20["ID"].values.tolist()
id20

[34,
 265,
 954,
 56,
 962,
 949,
 226,
 589,
 66,
 988,
 866,
 943,
 198,
 663,
 4,
 852,
 284,
 636,
 677,
 624]

In [106]:
time.keys()

Index([      (0, 1),       (0, 2),       (0, 3),       (0, 4),       (0, 5),
             (0, 6),       (0, 7),       (0, 8),       (0, 9),      (0, 10),
       ...
       (1100, 1090), (1100, 1091), (1100, 1092), (1100, 1093), (1100, 1094),
       (1100, 1095), (1100, 1096), (1100, 1097), (1100, 1098), (1100, 1099)],
      dtype='object', length=1211100)

In [110]:
a = pd.Series(id20)

In [127]:
id20

      ID    weight  volume  first  last
33    34  0.048260  0.1466    180   330
264  265  0.046380  0.1238    300   450
953  954  0.012000  0.2000    210   300
55    56  0.013164  0.3085    210   300
961  962  0.101000  0.2377    210   300
948  949  0.149150  0.2615    330   390
225  226  0.286900  0.4780    180   240
588  589  0.049800  0.5142    180   330
65    66  0.016400  0.1584    330   390
987  988  0.124200  0.3665     90   150
865  866  0.161300  0.2846    120   180
942  943  0.175830  0.3177     90   150
197  198  0.427000  0.6553     90   150
662  663  0.303770  0.8616    180   240
3      4  0.025950  0.0542     60   120
851  852  0.130680  0.2645    300   450
283  284  0.143760  0.3180    180   240
635  636  0.111000  0.9942     60   240
676  677  0.108960  0.1984    300   360
623  624  0.185400  0.2587    300   420

In [129]:
vehicle

,vehicle_type_ID,vehicle_type_name,max_volume,max_weight,vehicle_cnt,driving_range,charge_tm,unit_trans_cost,vehicle_cost
0,1,IVECO,12,2.0,unlimited,100000,0.5,12,200
1,2,TRUCK,16,2.5,unlimited,120000,0.5,14,300

In [23]:
node_2 = pd.read_csv("input/node.csv")

In [24]:
node_2["time_window"] = node_2.apply(lambda x: (x[-2], x[-1]), axis=1)

In [25]:
time_window = set(node_2["time_window"].values.tolist())
time_window

{(60.0, 120.0),
 (60.0, 180.0),
 (60.0, 240.0),
 (90.0, 150.0),
 (90.0, 180.0),
 (90.0, 240.0),
 (120.0, 180.0),
 (120.0, 240.0),
 (180.0, 240.0),
 (180.0, 300.0),
 (180.0, 330.0),
 (210.0, 300.0),
 (210.0, 330.0),
 (300.0, 360.0),
 (300.0, 390.0),
 (300.0, 420.0),
 (300.0, 450.0),
 (330.0, 360.0),
 (330.0, 390.0),
 (330.0, 420.0),
 (330.0, 450.0)}

In [8]:
a = (1,2,3)
b = (4,5,6)

In [9]:
a+b

(1, 2, 3, 4, 5, 6)